@media (max-width: 1440px) {
  .header {
    margin-bottom: 36px;
    padding: 14px 35px;
  }

  .container {
    padding: 0 50px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .nav__list {
    gap: 37px;
  }

  .nav__item {
    padding: 24px 0;
  }

  .hero {
    margin-bottom: 38px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 41px;
  }

  .hero__text {
    width: 100%;
  }

  .hero__content {
    padding: 164px 80px;
  }

  .hero__deskr {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 65px;
  }

  .hero__btn {
    padding: 27px 32px;
  }

  .starget__blok {
    flex-wrap: wrap;
  }

  .starget__image {
    min-height: 640px;
  }

  .starget__descr {
    margin-bottom: 58px;
  }

  .starget__left {
    height: 31%;
    padding: 24px 50px;
  }

  .starget__item {
    min-height: 295px;
    padding: 48px 76px;
  }

  .stages {
    margin-bottom: 83px;
  }

  .item__title {
    margin-bottom: 13px;
  }

  .question__descr {
    margin-bottom: 25px;
  }

  .question {
    margin-bottom: 80px;
  }

  .application__list {
    flex-wrap: wrap;
  }

  .application {
    margin-bottom: 73px;
  }

  .application__item {
    width: 100%;
    max-width: 924px;
  }

  .footer__list {
    gap: 1px;
  }

  .footer__right {
    justify-content: flex-end;
  }

  .footer__descr {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .nav__list {
    gap: 20px;
  }

  .hero__title {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 35px;
  }

  .hero__content {
    padding: 164px 40px;
  }

  .hero__deskr {
    font-size: 18px;
    margin-bottom: 69px;
  }

  .starget__image {
    min-height: 645px;
  }

  .starget__left {
    padding: 0px 40px;
  }

  .starget__top {
    width: 114px;
    height: 99px;
  }

  .starget__item {
    min-height: 233px;
    padding: 0;
  }

  .starget__bottom {
    width: 114px;
    height: 99px;
  }

  .stages {
    margin-bottom: 89px;
  }

  .question__blok {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .question__right {
    width: 100%;
  }

  .question__img {
    max-height: 284px;
  }

  .question__left {
    width: 100%;
  }

  .application__item {
    padding: 34px 39px;
  }

  .application {
    margin-bottom: 85px;
  }

  .footer__blok {
    flex-direction: column-reverse;
  }

  .footer__list {
    display: none;
  }

  .footer__blok {
    padding: 56px 0;
  }

  .footer__form {
    width: 541px;
    margin-bottom: 33px;
  }

  .footer__wraper {
    width: 240px;
    padding: 19px 0;
  }

  .footer__btn {
    width: 541px;
    margin-bottom: 47px;
  }
}

@media (max-width: 678px) {
  .header {
    margin-bottom: 23px;
  }

  .container {
    padding: 0 15px;
  }

  .heder__top {
    align-items: flex-start;
    flex-direction: column;
    padding: 17px 0;
    flex-wrap: wrap;
  }

  .nav__list {
    gap: 22px;
    overflow: auto;
    flex-wrap: nowrap;
  }

  .nav__item {
    flex-shrink: 0;
    padding: 22px 0;
  }

  .nav__item svg {
    position: absolute;
    top: 22px;
    right: 15px;
  }

  .hero {
    margin-bottom: 60px;
  }

  .hero__content {
    padding: 60px 22px;
  }

  .hero__text {
    align-items: center;
  }

  .hero__title {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 117%;
    text-align: center;
  }

  .hero__deskr {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
  }

  .hero__btn {
    max-width: 162px;
    padding: 13px 28px;
    font-size: 12px;
  }

  .stages {
    margin-bottom: 60px;
  }

  .stages__title {
    margin-bottom: 22px;
    font-size: 24px;  
  }

  .starget__descr {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 14px;
  }

  .left__descr {
    margin-bottom: 12px;
    font-weight: 400;
    color: var(--blak-color);
    font-size: 14px;
    line-height: 28px;
  }

  .starget__btn {
    margin-bottom: -11px;
    color: var(--orange-color);
    padding: 13px 44px;
    font-size: 12px;
  }

  .starget__image {
    background-position: 0 0;
    background-size: 100% 200px;
    padding-top: 208px;
    min-height: 0;
  }

  .starget__item {
    border: inherit;
  }

  .starget__left {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    height: auto;
    background-color: transparent;
  }

  .starget__circle {
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
  }

  .starget__top {
    width: 67px;
    height: 58px;
  }

  .starget__bottom {
    margin-bottom: -13px;
    width: 67px;
    height: 58px;
  }

  .item__title {
    line-height: 123%;
    font-weight: 500;
    font-size: 18px;
  }

  .item__title {
    margin-bottom: 5px;
  }

  .item__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .question {
    margin-bottom: 62px;
  }

  .question__title {
    font-size: 24px;
    margin-bottom: 26px;
  }

  .question__blok {
    gap: 0;
  }

  .question__img {
    margin-bottom: 16px;
    min-height: 160px;
  }

  .question__left .item__title  {
    line-height: 22px;
    margin-bottom: 13px;
  }

  .question__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .question__list {
    gap: 10px;
  }

  .question__btn {
    padding: 13px 45px;
    font-size: 12px;
  }

  .btn__right {
    padding: 13px 30px;
    font-size: 12px;
  }

  .application {
    margin-bottom: 60px;
  }

  .application__title {
    font-size: 24px; 
    margin-bottom: 24px;
  }

  .application__item {
    border: inherit;
    padding: 0;
  }

  .application .item__title {
    font-size: 18px;
    line-height: 117%;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .application__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .footer__title {
    font-size: 22px;
    margin-bottom: 23px;
  }

  .footer__blok {
    padding: 35px 0;
  }

  .footer__input {
    padding: 14px 16px;
  }

  .footer__textarea {
    padding: 17px 17px;
  }

  .footer__form { 
    max-width: 290px;
    margin-bottom: 30px;
  }

  .footer__btn {
    max-width: 290px;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .footer__wraper {
    max-width: 162px;
    padding: 10px 0;
    margin-bottom: 11px;
  }

  .footer__left {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: -9px;
    padding: 15px 0;
  }

  .footer__left::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--dark_grey-color);
  }

  .icon__list {
    gap: 16px;
    justify-content: center;
  }

  .icon__link {
    width: 40px;
  }
}
